/*** GLOBAL TAG DEFINITIONS ***/
* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font: 300 14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

p {
  margin: 0 0 15px 0;
}

/*** UTILITY CLASSES ***/

/*** GLOBAL LAYOUT ***/

#headerwrapper, #footerwrapper, #content {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: #111;
  overflow: auto;
}

header h1 {
  margin: 0;
}

header a {
  color: #CCC;
}

header nav {
  float: right;
}

header ul {
  list-style-type: none;
}

header li {
  float: left;
  margin-left: 20px;
}

header h1 {
  float: left;
}

footer {
  margin-top: 50px;
  background: #333;
  overflow: auto;
  padding-bottom: 20px;
}

footer section {
  min-width: 240px;
  float: left;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

footer a {
  color: #FFF;
}

footer h2 {
  color: #666;
  font-weight: normal;
  margin-bottom: 0px;
}

#content {
  overflow: auto;
}

/*** PAGE LAYOUT - HOME ***/

#content h1 {
  font-weight: normal;
  font-size: 36px;
}

#home1 {
  margin-top: 20px;
  overflow: auto;
}
#home1 section {
  width: 50%;
  float: left;
}
#home1 section:last-child {
  text-align: center;
}

#home2 {
  margin-top: 20px;
  overflow: auto;
}

#home2 section {
  width: 309px;
  float: left;
  border-right: 1px solid #666;
  padding: 5px;
  overflow: hidden;
  height: 100%;
}

#home2 section:last-child {
  width: 310px;
  border-right: 0;
}

#home2 section h2 {
  text-align: center;
}

#download {
  text-align: left;
}

/*** PAGE LAYOUT - LEARN ***/

#learn-nav {
  width: 200px;
  float: left;
}

#learn-content {
  width: 700px;
  float: right;
}